{{outlet}}
<div local-class="text">
  <h1>COMBO PASSWORD</h1>
  <div local-class="about">
    This is a new type of password.<br>
    The idea is to allow the input of key combinations mainly to enhance security.<br><br>
    A Combo Password should offer far more possible combinations than a normal password of the same length.<br><br>

    For this demo only alphanumeric characters are enabled.<br>
    Works best with true n key rollover keyboards!
  </div>
</div>
<div local-class="wrapper">
  {{example-login-form}}
</div>

  <center>
<footer>
    <a href="https://gitlab.com/combo-password" local-class="link link-gitlab">
      <img alt="gitlab" src="assets/images/gitlab_logo.svg" local-class="svg-gitlab">
      gitlab
    </a>
    <a href="https://math.stackexchange.com/questions/3133516/number-of-possible-combo-passwords" local-class="link link-stackexchange">
      <img alt="stackexchange" src="assets/images/stackexchange_logo.svg" local-class="svg-stackexchange">
      stackexchange
    </a>
    <a href="https://www.defcon.org/html/defcon-27/dc-27-demolabs.html#Combo%20Password" local-class="link link-stackexchange">
      <img alt="DEF CON 27" src="assets/images/demo_labs_27_badge.svg" local-class="svg-stackexchange">
    </a>
</footer>
  </center>